body {
    background-color: lightgray;
}

.page {
    width: 1000px;    
    background-color: white;   
    margin: auto;
    padding: 30px;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Patrick Hand', cursive;
}

.vis-container {
    width: 100%;
}

